body {
    
    margin: 0px;
    border: 0px;
}

.my-container {
  grid-row-gap: 50px;
}

#mycarousel{
  margin-left: 1px; 
  margin-right: 1px;
  background-color:cornsilk;
}

h1{
    padding-top: 20px;
}

.my-row {
    
padding: 30px;
padding-bottom: 40px;
}

.my-col {
    
height: 200px;
width: 30px;
}


.jumbotron {
    width: 100%;
    
}


li a {
    
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: beige;
}

a:hover {
    
    text-decoration: none!important;
    color: lightgreen!important;
}

nav {
    
    height: 100px;
}

footer {
    
    background-color: #343a40;
    height: 70px;
}

footer p {
    
    color: lightgreen;
    padding-top: 20px;
}
